urlencode() {
    # urlencode <string>

    old_lc_collate=$LC_COLLATE
    LC_COLLATE=C

    local length="${#1}"
    for (( i = 0; i < length; i++ )); do
        local c="${1:$i:1}"
        case $c in
            [a-zA-Z0-9.~_-]) printf '%s' "$c" ;;
            *) printf '%%%02X' "'$c" ;;
        esac
    done

    LC_COLLATE=$old_lc_collate
}

urldecode() {
    # urldecode <string>

    local url_encoded="${1//+/ }"
    printf '%b' "${url_encoded//%/\\x}"
}

ddg() {
    if [ $# -eq 0 ]; then
        brave-browser https://duckduckgo.com/\?q=$(urlencode "$(xclip -o)");
    else
        brave-browser https://duckduckgo.com\?q=$(urlencode $1);
    fi
}

mkcd() {
    mkdir -p $1
    cd $1
}

alias hs='history | grep'
alias mpip='curl http://ipecho.net/plain; echo'
alias svim='sudo vim'
alias update='sudo apt update && sudo apt upgrade'